/**
 * Custom CSS rules to make JetBrains Rider's markdown preview look like GitHub's markdown previewer
 */

body {
  --base-size-16: 1rem;
  --base-size-24: 1.5rem;
  --base-size-4: 0.25rem;
  --base-size-40: 2.5rem;
  --base-size-8: 0.5rem;
  --base-text-weight-medium: 500;
  --base-text-weight-normal: 400;
  --base-text-weight-semibold: 600;
  --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --fgColor-accent: Highlight;
  
  /*dark */
  color-scheme: dark !important;
  --fgColor-accent: #4493f8;
  --bgColor-attention-muted: #bb800926;
  --bgColor-default: #0d1117;
  --bgColor-muted: #151b23;
  --bgColor-neutral-muted: #656c7633;
  --borderColor-accent-emphasis: #1f6feb;
  --borderColor-attention-emphasis: #9e6a03;
  --borderColor-danger-emphasis: #da3633;
  --borderColor-default: #3d444d;
  --borderColor-done-emphasis: #8957e5;
  --borderColor-success-emphasis: #238636;
  --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-comment: #9198a1;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-markup-bold: #f0f6fc;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-italic: #f0f6fc;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
  --color-prettylights-syntax-variable: #ffa657;
  --fgColor-attention: #d29922;
  --fgColor-danger: #f85149;
  --fgColor-default: #f0f6fc;
  --fgColor-done: #ab7df8;
  --fgColor-muted: #9198a1;
  --fgColor-success: #3fb950;
  --borderColor-muted: #3d444db3;
  --color-prettylights-syntax-invalid-illegal-bg: var(--bgColor-danger-muted);
  --color-prettylights-syntax-invalid-illegal-text: var(--fgColor-danger);
  --focus-outlineColor: var(--borderColor-accent-emphasis);
  --borderColor-neutral-muted: var(--borderColor-muted);
}

body {
  /** CSS default easing. Use for hover state changes and micro-interactions. */
  /** Accelerating motion. Use for elements exiting the viewport (moving off-screen). */
  /** Smooth acceleration and deceleration. Use for elements moving or morphing within the viewport. */
  /** Decelerating motion. Use for elements entering the viewport or appearing on screen. */
  /** Constant motion with no acceleration. Use for continuous animations like progress bars or loaders. */
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  
  margin: 0 auto !important;
  padding: 45px !important;
  box-sizing: border-box !important;
  min-width: 200px !important;
  max-width: 980px !important;
  
  font-weight: var(--base-text-weight-normal, 400) !important;
  color: var(--fgColor-default) !important;
  background-color: var(--bgColor-default) !important;
  font-family: "Geist", var(--fontStack-sansSerif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji") !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  word-wrap: break-word !important;
}

body a {
  text-decoration: underline !important;
  text-underline-offset: .2rem !important;
}

body .octicon {
  display: inline-block !important;
  fill: currentColor !important;
  vertical-align: text-bottom !important;
}

body h1:hover .anchor .octicon-link:before,
body h2:hover .anchor .octicon-link:before,
body h3:hover .anchor .octicon-link:before,
body h4:hover .anchor .octicon-link:before,
body h5:hover .anchor .octicon-link:before,
body h6:hover .anchor .octicon-link:before {
  width: 16px !important;
  height: 16px !important;
  content: ' ' !important;
  display: inline-block !important;
  background-color: currentColor !important;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>") !important;
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>") !important;
}

body details,
body figcaption,
body figure {
  display: block !important;
}

body summary {
  display: list-item !important;
}

body [hidden] {
  display: none !important;
}

body a {
  background-color: rgba(0,0,0,0) !important;
  color: var(--fgColor-accent) !important;
  text-decoration: none !important;
}

body abbr[title] {
  border-bottom: none !important;
  -webkit-text-decoration: underline dotted !important;
  text-decoration: underline dotted !important;
}

body b,
body strong {
  font-weight: var(--base-text-weight-semibold, 600) !important;
}

body dfn {
  font-style: italic !important;
}

body h1 {
  margin: .67em 0 !important;
  font-weight: var(--base-text-weight-semibold, 600) !important;
  padding-bottom: .3em !important;
  font-size: 2em !important;
  border-bottom: 1px solid var(--borderColor-muted) !important;
}

body mark {
  background-color: var(--bgColor-attention-muted) !important;
  color: var(--fgColor-default) !important;
}

body small {
  font-size: 90% !important;
}

body sub,
body sup {
  font-size: 75% !important;
  line-height: 0 !important;
  position: relative !important;
  vertical-align: baseline !important;
}

body sub {
  bottom: -0.25em !important;
}

body sup {
  top: -0.5em !important;
}

body img {
  border-style: none !important;
  max-width: 100% !important;
  box-sizing: content-box !important;
}

body code,
body kbd,
body pre,
body samp {
  font-family: "Geist Mono", monospace !important;
  font-size: 1em !important;
  color: var(--fgColor-default) !important;
}

body figure {
  margin: 1em var(--base-size-40) !important;
}

body hr {
  box-sizing: content-box !important;
  overflow: hidden !important;
  background: rgba(0,0,0,0) !important;
  border-bottom: 1px solid var(--borderColor-muted) !important;
  height: .25em !important;
  padding: 0 !important;
  margin: var(--base-size-24) 0 !important;
  background-color: var(--borderColor-default) !important;
  border: 0 !important;
}

body input {
  font: inherit !important;
  margin: 0 !important;
  overflow: visible !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

body [type=button],
body [type=reset],
body [type=submit] {
  -webkit-appearance: button !important;
  appearance: button !important;
}

body [type=checkbox],
body [type=radio] {
  box-sizing: border-box !important;
  padding: 0 !important;
}

body [type=number]::-webkit-inner-spin-button,
body [type=number]::-webkit-outer-spin-button {
  height: auto !important;
}

body [type=search]::-webkit-search-cancel-button,
body [type=search]::-webkit-search-decoration {
  -webkit-appearance: none !important;
  appearance: none !important;
}

body ::-webkit-input-placeholder {
  color: inherit !important;
  opacity: .54 !important;
}

body ::-webkit-file-upload-button {
  -webkit-appearance: button !important;
  appearance: button !important;
  font: inherit !important;
}

body a:hover {
  text-decoration: underline !important;
}

body ::placeholder {
  color: var(--fgColor-muted) !important;
  opacity: 1 !important;
}

body hr::before {
  display: table !important;
  content: "" !important;
}

body hr::after {
  display: table !important;
  clear: both !important;
  content: "" !important;
}

body table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  display: block !important;
  width: max-content !important;
  max-width: 100% !important;
  overflow: auto !important;
  font-variant: tabular-nums !important;
  
}

body td,
body th {
  padding: 0 !important;
}

body details summary {
  cursor: pointer !important;
}

body a:focus,
body [role=button]:focus,
body input[type=radio]:focus,
body input[type=checkbox]:focus {
  outline: 2px solid var(--focus-outlineColor) !important;
  outline-offset: -2px !important;
  box-shadow: none !important;
}

body a:focus:not(:focus-visible),
body [role=button]:focus:not(:focus-visible),
body input[type=radio]:focus:not(:focus-visible),
body input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px rgba(0,0,0,0) !important;
}

body a:focus-visible,
body [role=button]:focus-visible,
body input[type=radio]:focus-visible,
body input[type=checkbox]:focus-visible {
  outline: 2px solid var(--focus-outlineColor) !important;
  outline-offset: -2px !important;
  box-shadow: none !important;
}

body a:not([class]):focus,
body a:not([class]):focus-visible,
body input[type=radio]:focus,
body input[type=radio]:focus-visible,
body input[type=checkbox]:focus,
body input[type=checkbox]:focus-visible {
  outline-offset: 0 !important;
}

body kbd {
  display: inline-block !important;
  padding: var(--base-size-4) !important;
  font: 11px var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
  line-height: 10px !important;
  color: var(--fgColor-default) !important;
  vertical-align: middle !important;
  background-color: var(--bgColor-muted) !important;
  border: solid 1px var(--borderColor-neutral-muted) !important;
  border-bottom-color: var(--borderColor-neutral-muted) !important;
  border-radius: 6px !important;
  box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted) !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: var(--base-size-24) !important;
  margin-bottom: var(--base-size-16) !important;
  font-weight: var(--base-text-weight-semibold, 600) !important;
  line-height: 1.25 !important;
}

body h2 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  padding-bottom: .3em !important;
  font-size: 1.5em !important;
  border-bottom: 1px solid var(--borderColor-muted) !important;
}

body h3 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  font-size: 1.25em !important;
}

body h4 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  font-size: 1em !important;
}

body h5 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  font-size: .875em !important;
}

body h6 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  font-size: .85em !important;
  color: var(--fgColor-muted) !important;
}

body p {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

body blockquote {
  margin: 0 !important;
  padding: 0 1em !important;
  color: var(--fgColor-muted) !important;
  border-left: .25em solid var(--borderColor-default) !important;
}

body ul,
body ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 2em !important;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman !important;
}

body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
  list-style-type: lower-alpha !important;
}

body dd {
  margin-left: 0 !important;
}

body tt,
body code,
body samp {
  font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
  font-size: 12px !important;
}

body pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
  font-size: 12px !important;
  word-wrap: normal !important;
}

body .octicon {
  display: inline-block !important;
  overflow: visible !important;
  vertical-align: text-bottom !important;
  fill: currentColor !important;
}

body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  margin: 0 !important;
  appearance: none !important;
}

body .mr-2 {
  margin-right: var(--base-size-8, 8px) !important;
}

body::before {
  display: table !important;
  content: "" !important;
}

body::after {
  display: table !important;
  clear: both !important;
  content: "" !important;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

body a:not([href]) {
  color: inherit !important;
  text-decoration: none !important;
}

body .absent {
  color: var(--fgColor-danger) !important;
}

body .anchor {
  float: left !important;
  padding-right: var(--base-size-4) !important;
  margin-left: -20px !important;
  line-height: 1 !important;
}

body .anchor:focus {
  outline: none !important;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body table th,
body table td,
body pre,
body details {
  margin-top: 0 !important;
  margin-bottom: var(--base-size-16) !important;
  color: var(--fgColor-default) !important;
}

body blockquote>:first-child {
  margin-top: 0 !important;
}

body blockquote>:last-child {
  margin-bottom: 0 !important;
}

body h1 .octicon-link,
body h2 .octicon-link,
body h3 .octicon-link,
body h4 .octicon-link,
body h5 .octicon-link,
body h6 .octicon-link {
  color: var(--fgColor-default) !important;
  vertical-align: middle !important;
  visibility: hidden !important;
}

body h1:hover .anchor,
body h2:hover .anchor,
body h3:hover .anchor,
body h4:hover .anchor,
body h5:hover .anchor,
body h6:hover .anchor {
  text-decoration: none !important;
}

body h1:hover .anchor .octicon-link,
body h2:hover .anchor .octicon-link,
body h3:hover .anchor .octicon-link,
body h4:hover .anchor .octicon-link,
body h5:hover .anchor .octicon-link,
body h6:hover .anchor .octicon-link {
  visibility: visible !important;
}

body h1 tt,
body h1 code,
body h2 tt,
body h2 code,
body h3 tt,
body h3 code,
body h4 tt,
body h4 code,
body h5 tt,
body h5 code,
body h6 tt,
body h6 code {
  padding: 0 .2em !important;
  font-size: inherit !important;
}

body summary h1,
body summary h2,
body summary h3,
body summary h4,
body summary h5,
body summary h6 {
  display: inline-block !important;
}

body summary h1 .anchor,
body summary h2 .anchor,
body summary h3 .anchor,
body summary h4 .anchor,
body summary h5 .anchor,
body summary h6 .anchor {
  margin-left: -40px !important;
}

body summary h1,
body summary h2 {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}

body ul.no-list,
body ol.no-list {
  padding: 0 !important;
  list-style-type: none !important;
}

body ol[type="a s"] {
  list-style-type: lower-alpha !important;
}

body ol[type="A s"] {
  list-style-type: upper-alpha !important;
}

body ol[type="i s"] {
  list-style-type: lower-roman !important;
}

body ol[type="I s"] {
  list-style-type: upper-roman !important;
}

body ol[type="1"] {
  list-style-type: decimal !important;
}

body div>ol:not([type]) {
  list-style-type: decimal !important;
}

body ul ul,
body ul ol,
body ol ol,
body ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body li>p {
  margin-top: var(--base-size-16) !important;
}

body li+li {
  margin-top: .25em !important;
}

body dl {
  padding: 0 !important;
}

body dl dt {
  padding: 0 !important;
  margin-top: var(--base-size-16) !important;
  font-size: 1em !important;
  font-style: italic !important;
  font-weight: var(--base-text-weight-semibold, 600) !important;
}

body dl dd {
  padding: 0 var(--base-size-16) !important;
  margin-bottom: var(--base-size-16) !important;
}

body table th {
  font-weight: var(--base-text-weight-semibold, 600) !important;
}

body table th,
body table td {
  padding: 6px 13px !important;
  border: 1px solid var(--borderColor-default) !important;
}

body table td>:last-child {
  margin-bottom: 0 !important;
}

body table tr {
  background-color: var(--bgColor-default) !important;
  border-top: 1px solid var(--borderColor-muted) !important;
}

body table tr:nth-child(2n) {
  background-color: var(--bgColor-muted) !important;
}

body table img {
  background-color: rgba(0,0,0,0) !important;
}

body img[align=right] {
  padding-left: 20px !important;
}

body img[align=left] {
  padding-right: 20px !important;
}

body .emoji {
  max-width: none !important;
  vertical-align: text-top !important;
  background-color: rgba(0,0,0,0) !important;
}

body span.frame {
  display: block !important;
  overflow: hidden !important;
}

body span.frame>span {
  display: block !important;
  float: left !important;
  width: auto !important;
  padding: 7px !important;
  margin: 13px 0 0 !important;
  overflow: hidden !important;
  border: 1px solid var(--borderColor-default) !important;
}

body span.frame span img {
  display: block !important;
  float: left !important;
}

body span.frame span span {
  display: block !important;
  padding: 5px 0 0 !important;
  clear: both !important;
  color: var(--fgColor-default) !important;
}

body span.align-center {
  display: block !important;
  overflow: hidden !important;
  clear: both !important;
}

body span.align-center>span {
  display: block !important;
  margin: 13px auto 0 !important;
  overflow: hidden !important;
  text-align: center !important;
}

body span.align-center span img {
  margin: 0 auto !important;
  text-align: center !important;
}

body span.align-right {
  display: block !important;
  overflow: hidden !important;
  clear: both !important;
}

body span.align-right>span {
  display: block !important;
  margin: 13px 0 0 !important;
  overflow: hidden !important;
  text-align: right !important;
}

body span.align-right span img {
  margin: 0 !important;
  text-align: right !important;
}

body span.float-left {
  display: block !important;
  float: left !important;
  margin-right: 13px !important;
  overflow: hidden !important;
}

body span.float-left span {
  margin: 13px 0 0 !important;
}

body span.float-right {
  display: block !important;
  float: right !important;
  margin-left: 13px !important;
  overflow: hidden !important;
}

body span.float-right>span {
  display: block !important;
  margin: 13px auto 0 !important;
  overflow: hidden !important;
  text-align: right !important;
}

body code,
body tt {
  padding: .2em .4em !important;
  margin: 0 !important;
  font-size: 85% !important;
  white-space: break-spaces !important;
  background-color: var(--bgColor-neutral-muted) !important;
  border-radius: 6px !important;
}

body code br,
body tt br {
  display: none !important;
}

body del code {
  text-decoration: inherit !important;
}

body samp {
  font-size: 85% !important;
}

body pre code {
  font-size: 100% !important;
}

body pre>code {
  padding: 0 !important;
  margin: 0 !important;
  word-break: normal !important;
  white-space: pre !important;
  background: rgba(0,0,0,0) !important;
  border: 0 !important;
}

body .highlight {
  margin-bottom: var(--base-size-16) !important;
}

body .highlight pre {
  margin-bottom: 0 !important;
  word-break: normal !important;
}

body .highlight pre,
body pre {
  padding: var(--base-size-16) !important;
  overflow: auto !important;
  font-size: 85% !important;
  line-height: 1.45 !important;
  color: var(--fgColor-default) !important;
  background-color: var(--bgColor-muted) !important;
  border-radius: 6px !important;
}

body pre code,
body pre tt {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
  line-height: inherit !important;
  word-wrap: normal !important;
  background-color: rgba(0,0,0,0) !important;
  border: 0 !important;
}

body .csv-data td,
body .csv-data th {
  padding: 5px !important;
  overflow: hidden !important;
  font-size: 12px !important;
  line-height: 1 !important;
  text-align: left !important;
  white-space: nowrap !important;
}

body .csv-data .blob-num {
  padding: 10px var(--base-size-8) 9px !important;
  text-align: right !important;
  background: var(--bgColor-default) !important;
  border: 0 !important;
}

body .csv-data tr {
  border-top: 0 !important;
}

body .csv-data th {
  font-weight: var(--base-text-weight-semibold, 600) !important;
  background: var(--bgColor-muted) !important;
  border-top: 0 !important;
}

body [data-footnote-ref]::before {
  content: "[" !important;
}

body [data-footnote-ref]::after {
  content: "]" !important;
}

body .footnotes {
  font-size: 12px !important;
  color: var(--fgColor-muted) !important;
  border-top: 1px solid var(--borderColor-default) !important;
}

body .footnotes ol {
  padding-left: var(--base-size-16) !important;
}

body .footnotes ol ul {
  display: inline-block !important;
  padding-left: var(--base-size-16) !important;
  margin-top: var(--base-size-16) !important;
}

body .footnotes li {
  position: relative !important;
}

body .footnotes li:target::before {
  position: absolute !important;
  top: calc(var(--base-size-8)*-1) !important;
  right: calc(var(--base-size-8)*-1) !important;
  bottom: calc(var(--base-size-8)*-1) !important;
  left: calc(var(--base-size-24)*-1) !important;
  pointer-events: none !important;
  content: "" !important;
  border: 2px solid var(--borderColor-accent-emphasis) !important;
  border-radius: 6px !important;
}

body .footnotes li:target {
  color: var(--fgColor-default) !important;
}

body .footnotes .data-footnote-backref g-emoji {
  font-family: monospace !important;
}

body .pl-c {
  color: var(--color-prettylights-syntax-comment) !important;
}

body .pl-c1,
body .pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant) !important;
}

body .pl-e,
body .pl-en {
  color: var(--color-prettylights-syntax-entity) !important;
}

body .pl-smi,
body .pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import) !important;
}

body .pl-ent {
  color: var(--color-prettylights-syntax-entity-tag) !important;
}

body .pl-k {
  color: var(--color-prettylights-syntax-keyword) !important;
}

body .pl-s,
body .pl-pds,
body .pl-s .pl-pse .pl-s1,
body .pl-sr,
body .pl-sr .pl-cce,
body .pl-sr .pl-sre,
body .pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string) !important;
}

body .pl-v,
body .pl-smw {
  color: var(--color-prettylights-syntax-variable) !important;
}

body .pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched) !important;
}

body .pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text) !important;
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg) !important;
}

body .pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text) !important;
  background-color: var(--color-prettylights-syntax-carriage-return-bg) !important;
}

body .pl-sr .pl-cce {
  font-weight: bold !important;
  color: var(--color-prettylights-syntax-string-regexp) !important;
}

body .pl-ml {
  color: var(--color-prettylights-syntax-markup-list) !important;
}

body .pl-mh,
body .pl-mh .pl-en,
body .pl-ms {
  font-weight: bold !important;
  color: var(--color-prettylights-syntax-markup-heading) !important;
}

body .pl-mi {
  font-style: italic !important;
  color: var(--color-prettylights-syntax-markup-italic) !important;
}

body .pl-mb {
  font-weight: bold !important;
  color: var(--color-prettylights-syntax-markup-bold) !important;
}

body .pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text) !important;
  background-color: var(--color-prettylights-syntax-markup-deleted-bg) !important;
}

body .pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text) !important;
  background-color: var(--color-prettylights-syntax-markup-inserted-bg) !important;
}

body .pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text) !important;
  background-color: var(--color-prettylights-syntax-markup-changed-bg) !important;
}

body .pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text) !important;
  background-color: var(--color-prettylights-syntax-markup-ignored-bg) !important;
}

body .pl-mdr {
  font-weight: bold !important;
  color: var(--color-prettylights-syntax-meta-diff-range) !important;
}

body .pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle) !important;
}

body .pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark) !important;
}

body .pl-corl {
  text-decoration: underline !important;
  color: var(--color-prettylights-syntax-constant-other-reference-link) !important;
}

body [role=button]:focus:not(:focus-visible),
body [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
body button:focus:not(:focus-visible),
body summary:focus:not(:focus-visible),
body a:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

body [tabindex="0"]:focus:not(:focus-visible),
body details-dialog:focus:not(:focus-visible) {
  outline: none !important;
}

body g-emoji {
  display: inline-block !important;
  min-width: 1ch !important;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 1em !important;
  font-style: normal !important;
  font-weight: var(--base-text-weight-normal, 400) !important;
  line-height: 1 !important;
  vertical-align: -0.075em !important;
}

body g-emoji img {
  width: 1em !important;
  height: 1em !important;
}

body a:has(>p,>div,>pre,>blockquote) {
  display: block !important;
}

body a:has(>p,>div,>pre,>blockquote):not(:has(.snippet-clipboard-content,>pre)) {
  width: fit-content !important;
}

body a:has(>p,>div,>pre,>blockquote):has(.snippet-clipboard-content,>pre):focus-visible {
  outline: 2px solid var(--focus-outlineColor) !important;
  outline-offset: 2px !important;
}

body .task-list-item {
  list-style-type: none !important;
}

body .task-list-item label {
  font-weight: var(--base-text-weight-normal, 400) !important;
}

body .task-list-item.enabled label {
  cursor: pointer !important;
}

body .task-list-item+.task-list-item {
  margin-top: var(--base-size-4) !important;
}

body .task-list-item .handle {
  display: none !important;
}

body .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em !important;
  vertical-align: middle !important;
}

body ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em !important;
}

body ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em !important;
}

body .contains-task-list:hover .task-list-item-convert-container,
body .contains-task-list:focus-within .task-list-item-convert-container {
  display: block !important;
  width: auto !important;
  height: 24px !important;
  overflow: visible !important;
  clip-path: none !important;
}

body ::-webkit-calendar-picker-indicator {
  filter: invert(50%) !important;
}

body .markdown-alert {
  padding: var(--base-size-8) var(--base-size-16) !important;
  margin-bottom: var(--base-size-16) !important;
  color: inherit !important;
  border-left: .25em solid var(--borderColor-default) !important;
}

body .markdown-alert>:first-child {
  margin-top: 0 !important;
}

body .markdown-alert>:last-child {
  margin-bottom: 0 !important;
}

body .markdown-alert .markdown-alert-title {
  display: flex !important;
  font-weight: var(--base-text-weight-medium, 500) !important;
  align-items: center !important;
  line-height: 1 !important;
}

body .markdown-alert.markdown-alert-note {
  border-left-color: var(--borderColor-accent-emphasis) !important;
}

body .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--fgColor-accent) !important;
}

body .markdown-alert.markdown-alert-important {
  border-left-color: var(--borderColor-done-emphasis) !important;
}

body .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--fgColor-done) !important;
}

body .markdown-alert.markdown-alert-warning {
  border-left-color: var(--borderColor-attention-emphasis) !important;
}

body .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--fgColor-attention) !important;
}

body .markdown-alert.markdown-alert-tip {
  border-left-color: var(--borderColor-success-emphasis) !important;
}

body .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--fgColor-success) !important;
}

body .markdown-alert.markdown-alert-caution {
  border-left-color: var(--borderColor-danger-emphasis) !important;
}

body .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--fgColor-danger) !important;
}

body>*:first-child>.heading-element:first-child {
  margin-top: 0 !important;
}

body .highlight pre:has(+.zeroclipboard-container) {
  min-height: 52px !important;
}

